.container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
}
.newsletter-form #email{
  display: block;
  width: 100%;
  border: solid thin #cfcfcf;
  height: 30px;
  padding-left: 3px;
  border-radius: 3px;
  box-sizing: border-box;

}
.newsletter-form button{
  display: block;
  width: 100%;
  background-color: #3cb878;
  border: 0;
  color: white;
  height: 30px;
  margin-top: 5px;
  border-radius: 3px;
}
.newsletter-form{
  color: grey;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-top: 15px;
}

#terms{
  position: relative;   /* you can use also "absolute"   */
  top: 1px; 
  left: 0px;

}
.newsletter-form h3{
  margin-top: 0px;
}
.closing-x{
  position: absolute;
  top: 0px;
  right: 6px;

}
.closing-x button{
  background: none;
  color: #cfcfcf;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#question-circle{
  height: 100px;
  width: 100px;
  background-color: #3cb878;
  border-radius:50%;
  color: white;
  font-size: 70px;
  text-align: center;

  position: fixed;
  right: 5px;
  bottom: 5px;
}

.card{
  width: 180px;
  background-color: #3cb878;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 2px;
  color: white;
  box-shadow: 0px 0px 5px 2px black;
  
/*   display: inline; */
  
}
.card-holder{
  display: flex;
  justify-content: space-between;
}